<!DOCTYPE html>
<!-- In this file you will complete the homework found in the homework-readme.md file -->
<!-- Title: homework.html This is LambdaSchool Lesson01-HTML-CSS authored by Kyle Larson 10-12-20 -->
<!-- License: GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html -->
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
<title>Kyle Larson's HTML homework</title>
		<!-- Fonts -->
        <link href="styles.css" rel="stylesheet">

</head>
<body>
	<div class="content">
		
        <div class="divClass">
            <h1 style="color: mediumseagreen">Kyle C. Larson, KyLarson-Research</h1>
			<h3>100 Days Of Code: Machine Learning and Full Stack Development</h3>
			<h4>Email: LearningLarson@suddenlink.net Phone: (1) 928 225 5916</h4>
        </div>
		
		<div class="divClass" style="padding:20px">
				<span id="SpanId" style="font-size:18px; margin:50px; border:2px solid lime; border-radius: 7px 7px 7px; padding:5px">
					Favorite Food: Greens, especially Crucifers. 
				</span>
			
			<div style="padding:20px">
				<div style="padding:5px">
			    
				</div>
		</div>
		
		<div id="thirdDiv" style="height=600px; width=500px; background-color:gray; opacity:0.9">
			<ul></ul>
			<ul></ul>
        </div>
			
		<div >
                    
        </div>
    </div>

</body>
</html>
